.order-history__section {
   position: fixed;
   top: 0;
   right: -350px;
   width: 350px;
   height: calc(100vh - 0px);
   height: calc(100dvh - 0px);
   background-color: rgb(183, 233, 251);
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
   transition: right 0.3s ease-in-out;
   z-index: 1002;
   border-radius: 10px 0 0 10px;
}

.order-history__section.visible {
   right: 0;
}

.order-history__custom-button-close {
   width: 100%;
   padding: 10px;
   margin: 0 0 20px;
   background-color: #6e41e2;
   border-radius: 10px 0 10px 10px;
   font-size: 1.25rem;
   color: white;
}

.order-history__wrap {
   overflow-y: auto;
   height: calc(100vh - 80px);
   height: calc(100dvh - 80px);
   padding: 20px;
}

.order-history__wrap::-webkit-scrollbar {
   display: none; /* скрывает полосу прокрутки */
}

/*  */
/*  */
/*  */
.orderList {
   list-style: none; /* убрать точки у списка */
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.orderItem {
   background: #ffffff;
   border-radius: 10px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.orderSummary {
   padding: 12px 16px;
   font-weight: bold;
   cursor: pointer;
   transition: background 0.3s;
}

.orderSummary:hover {
   background: #f0f0f0; /* лёгкая подсветка при наведении */
}

.productList {
   list-style: none;
   margin: 0;
   padding: 10px 20px;
   background: #fafafa; /* фон раскрытого блока */
}

.productItem {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 8px;
}

.productImage {
   width: 40px;
   height: 40px;
   border-radius: 5px;
   object-fit: cover;
}

.orderTopRow {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #ffffff;
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   font-weight: bold;
   gap: 10px;
}

.orderAmount {
   flex: 1;
}

.arrowIcon {
   font-size: 20px;
   color: #333;
}

@keyframes rotateWithPause {
   0% {
      transform: rotate(0deg);
   }
   10% {
      transform: rotate(180deg); /* быстрое вращение */
   }
   100% {
      transform: rotate(180deg); /* пауза до конца цикла */
   }
}
