.editor-container {
   max-width: 500px;
   width: 100%;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 12px;
   background-color: antiquewhite;

   margin: 20px 0;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.editor-title {
   font-weight: bold;
}

.editor-input {
   margin-top: 20px;
}

.editor-input,
.editor-textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 16px;
   border: 1px solid #ccc;
   border-radius: 8px;
   font-size: 1rem;
   box-sizing: border-box;
}

.editor-textarea {
   height: 160px;
   resize: none;
}

.editor-button {
   background-color: #2563eb;
   color: white;
   padding: 10px 16px;
   border: none;
   border-radius: 8px;
   font-size: 1rem;
   cursor: pointer;
   transition: background-color 0.2s ease;
}

.editor-button:hover {
   background-color: #1e40af;
}

/* =================== Адаптив =================== */

@media (max-width: 768px) {
   .editor-container {
      max-width: 100%;
   }
}
