.banner {
   width: 100%;
   height: 40px;
   background-color: gold;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
}

.bannerContent {
   position: absolute;
   display: flex;
   align-items: center;
   transition: transform 0.3s ease, opacity 0.3s ease;
}

.bannerImg {
   width: 40px;
   margin-right: 10px;
}

.bannerText {
   font-weight: bold;
}

.active {
   transform: translateY(0);
   opacity: 1;
}

.hidden {
   opacity: 0;
}

.enter {
   transform: translateY(-100%);
   opacity: 0;
   animation: enterAnim 0.3s forwards;
}

.exit {
   transform: translateY(0);
   opacity: 1;
   animation: exitAnim 0.3s forwards;
}

@keyframes enterAnim {
   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes exitAnim {
   to {
      transform: translateY(100%);
      opacity: 0;
   }
}
