* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   background-color: rgb(245, 237, 227);
   --scrollbar-width: 0; /* По умолчанию 0 */
   box-sizing: border-box;
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
