.container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.header-wrapper,
.footer-wrapper {
   width: 100%;
   background-color: red;
}

.header,
.footer {
   max-width: 1600px; /* Ограничение по ширине */
   width: 100%;
   margin: 0 auto; /* Центрирование */
   padding: 0 20px; /* Отступы по бокам */
}

.main-content {
   flex: 1;
   max-width: 1600px;
   width: 100%;
   margin: 0 auto;
   padding: 90px 20px 20px;
}

/* навигация  */

.stickyBottomMobile {
   display: flex;
   justify-content: center; /* Центрируем контент */
   align-items: center;
   position: fixed; /* Приклеиваем к экрану */
   bottom: 0; /* Вниз */
   left: 0;
   width: 100%;
   height: 60px; /* Высота панели (по желанию) */
   background-color: #fff; /* Фон, чтобы отделить от контента */
   border-top: 1px solid #ccc;
   z-index: 1000; /* Поверх всего */
}

@media (min-width: 768px) {
   .stickyBottomMobile {
      display: none; /* Скрыть на планшетах и выше */
   }
}
