.defaultButton {
   background-color: #6e41e2;
   padding: 5px 10px;
   border-radius: 50px;
   cursor: pointer;
   text-align: center;
   color: white;
   margin: 5px 0;
   /* width: 100%; */
   transition: background-color 0.2s ease;
}

.defaultButton:hover {
   background-color: #4f29b1;
   color: white;
}
